<h2>Grayscale</h2>

<ul class=allColors>
<% theColors.forEach((oneColor)=>{ %>
<% if (oneColor.category==="grayscale"){ %>
<li class="item">
  <div class="box" style="background-color:<%= oneColor.keyword%>"></div>
  <p><%=oneColor.keyword%></p>
  <p><%=oneColor.hex%></p>
</li>
<%}})%>
</ul>
