<h2>Colors.io </h2>
<p>Colors.io will show all the CSS colors out there</p>

<article>
      <div class="homepage-box" style="background-color:<%= featuredColor.keyword %>"></div>
      <!-- <p><%=featuredColor.keyword%></p>
      <p><%=featuredColor.hex%></p> -->
</article>
